@import "0-tools/normalize";
@import "colors";
@import "typography";

@import '1-sections/landing';
@import '1-sections/footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: $background;
    width: 100%;
}